page-login {

	.logo-login {
		margin-top: 30px;
		margin-bottom: 10px;
		max-width: 80%;
	}

	form {
		border-radius: 3px;
		border: 1px solid rgba(34, 36, 38, 0.15);
		box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
		margin: 0 auto;
		max-width: 600px;

		h3 {
			font-weight: bold;
			padding: 10px 0;
		}

		.item-checkbox {

			ion-label {
				text-overflow: clip;
				white-space: initial;
			}
		}
	}

}
